.contact-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000ec;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

.contact-modal__content {
    max-width: 50%;
    margin: 1rem auto;
    height: 100%;

}

.contact-modal__logo {
    display: flex;
    justify-content: center;
}

.contact-modal__logo img {
    width: 15rem;
}

.contact-modal__form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.contact-modal__form label {
    transform: translateY(50px);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.contact-modal__form-input {
    display: flex;
    align-items: center;
    position: relative;
}

.contact-modal__form-input input {
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    padding-right: 72px;
}

.contact-modal__form-input svg {
    z-index: 4;
    cursor: pointer;
    position: relative;
}

.contact-modal__form-input .prev-svg {
    margin-left: -65px;
    margin-right: 11px;
}

.contact-modal__form-input-line {
    position: absolute;
    bottom: 0%;
    height: 1px;
    width: 0%;
    background: red;
    content: '';
    left: 0;
    z-index: 1;
}

.remove-scrolling {
    height: 100vh;
    overflow: hidden;
}

.contact-modal__close {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 2rem;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 3px 7px;
}


.contact-modal__close:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}

@media only screen and (max-width:600px) {
    .contact-modal__close {
        top: auto;
        bottom: 20%;
        right: 50%;
    }

    .contact-modal__content {
        max-width: 80%;
        height: 70%;

    }

    .contact-modal__form-input {
        flex-direction: column;
        gap: 15px;
        align-items: flex-end;
    }

    .contact-modal__form-input input {
        padding-right: 10px;
    }

}

/* /////////////////////////
banner */

/* .wptb-slider--image::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000071;
    content: '';
    z-index: 1;
} */

.house-txt {
    max-width: 90vw;
    margin: auto;
    line-height: 1.2;
    font-size: 60px !important;
    color: gold;
    letter-spacing: 2px !important;
}

/* .text {
    padding: 10vh 0;
} */

.mask {
    width: 100%;
    height: 115%;
    position: absolute;
    background: #161616;
    left: 0;
    top: 0;
    opacity: 0.8;
}

.aside_info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.breadcrumb--inner {
    padding: 170px 0px 170px 0px !important;
}